* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.6rem;
  background-color: rgba(52, 52, 152, 0.2);
}

nav {
  padding: 20px 50px 20px 20px;
  display: flex;
  gap: 40px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

nav > a {
  color: white;
}

.title-screen {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background-image: url(./images/forest_bg.jpg);
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

.title-screen  > h1 {
  font-size: 4rem;
  margin-top: 30vh;
  color: rgb(26, 30, 41);
}

.title-screen > span {
  font-size: 2rem;
}

.star {
  position: absolute;
  top: 10%;
  left: 50%;
  background-color: rgb(255, 255, 255);
  height: 4px;
  width: 4px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.7);
  opacity: 0;
  animation: animate-star infinite;
}

.star::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, white, transparent);
}

@keyframes animate-star {
  0% {
    transform: rotate(225deg) translateX(0px);
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(225deg) translateX(-25vh);
  }
}

.star:nth-child(1) {
  top: 80px;
  left: 5%;
  animation-duration: 4.2s;
  animation-delay: 3.2s;
}

.star:nth-child(2) {
  top: 120px;
  left: 22%;
  animation-duration: 2.8s;
  animation-delay: 2.8s;
}

.star:nth-child(3) {
  top: 100px;
  left: 39%;
  animation-duration: 3.25s;
  animation-delay: 4.5s;
}

.star:nth-child(4) {
  top: 20px;
  left: 57%;
  animation-duration: 4.8s;
  animation-delay: 1.4s;
}

.star:nth-child(5) {
  top: 65px;
  left: 84%;
  animation-duration: 4s;
  animation-delay: 3s;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#1a1e29, #343498);
}

.about-me-container {
  max-width: 900px;
  min-width: 600px;
  padding: 50px;
  margin: 200px 0px 300px 0px;
}

.about-me-container > p {
  margin: 20px;
  color: white;
  line-height: 1.8rem;
  font-size: 1.4rem;
  text-align: center;
}

.skills > div {
  max-width: 900px;
  margin: -100px auto 300px auto;
  z-index: 1;
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  line-height: 1.4rem;
  border: 1px solid rgba(201, 201, 201, 0.5);
}

.skills h2,
.skills span {
  color: rgb(26, 30, 41);
}

.skills h2 {
  font-size: 2.2rem;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.skills-container > div {
  position: relative;
  display: flex;
  justify-content: center;
  transition: transform .5s;
}

.skills-container img {
  width: 80px;
}

.skills-container span {
  position: absolute;
  bottom: 0%;
  opacity: 0;
  transition: transform .5s, opacity .3s;
}

.skills-container > div:hover {
  transform: translateY(-15%);
}

.skills-container > div:hover > span {
  transform: translateY(120%);
  opacity: 1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 800px));
  justify-items: center;
  justify-content: center;
  gap: 50px;
}

.project {
  display: flex;
  background-color: whitesmoke;
  box-shadow:  0px 0px 10px 2px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
}

.project > img {
  width: 500px;
}

.project-info {
  padding: 30px 20px;
}

.project-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}

.project-info > p {
  margin: 8px 0px 16px 0px;
}

.project-info img {
  width: 32px;
  height: 32px;
}

.project-info a:first-of-type {
  margin-top: 35%;
  margin-left: 68%;
}

.html, .css, .javascript, .react {
  border: solid 1px;
  padding: 8px;
  border-radius: 3px;
}

.html {
  color: #E44D26;
  border-color: #E44D26;
}

.css {
  color: purple;
  border-color: purple;
}

.javascript {
  color: #c2ab16;
  border-color: #c2ab16;
}

.react {
  color: #62aecc;
  border-color: #62aecc;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin-top: 300px;
  padding: 80px;
  background-color: #343498;
}

.contact > p {
  font-size: 2rem;
  margin-top: -130px;
  padding: 40px 60px;
  border-radius: 12px;
  background-color: #23314D;
  color: white;
}

.contact > a {
  position: relative;
  color: white;
  font-size: 4rem;
}

.contact > a::after {
  content: url(./images/arrow.svg);
  position: absolute;
  top: 5px;
  right: -60px;
  display: block;
  height: 48px;
  width: 48px;
}